.flex {
    display: -webkit-flex;
    display: flex;
}
* {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
* {
    --tw-shadow: 0 0 transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
user agent stylesheet
div {
    display: block;
}

.w-24 {
    width: 6rem;
}
.relative {
    position: relative;
}
.h-24 {
    height: 6rem;
}
.rounded-md {
    border-radius: .375rem;
}
* {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
* {
    --tw-shadow: 0 0 transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.w-full {
    width: 100%;
}
.absolute {
    position: absolute;
}
.object-cover {
    object-fit: cover;
}
.h-full {
    height: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
img {
    border-style: solid;
}

.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
}
.flex-1 {
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
}
.truncate-3-lines {
    -webkit-line-clamp: 3;
}
.truncate-2-lines, .truncate-3-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* review */
.max-w-lg {
    max-width: 32rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.items-stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flex-col {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex {
    display: -webkit-flex;
    display: flex;
}
.bg-transparent {
    background-color: transparent;
}

.justify-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex {
    display: -webkit-flex;
    display: flex;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse));
}

.font-bold {
    font-weight: 700;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(55,65,81,var(--tw-text-opacity));
}
.font-semibold {
    font-weight: 600;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
.space-y-4>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
}
.jss61 {
    overflow: hidden;
    position: relative;
}

.rounded {
    border-radius: .25rem;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
img {
    border-style: solid;
}
.jss71 {
    right: 0;
}

.jss67 {
    top: 0;
    height: 100%;
}
.jss66 {
    top: calc(50% - 70px);
    height: 100px;
    position: absolute;
    background-color: transparent;
}
.jss70 {
    top: calc(50% - 20px) !important;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    font-size: 30px;
    transition: 200ms;
    background-color: #494949;
}

.jss69 {
    opacity: 0;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.jss70 {
    top: calc(50% - 20px) !important;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    font-size: 30px;
    transition: 200ms;
    background-color: #494949;
}

.jss69 {
    opacity: 0;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
* {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
* {
    --tw-shadow: 0 0 transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
user agent stylesheet
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.space-y-4>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
}
.jss72 {
    left: 0;
}

.jss67 {
    top: 0;
    height: 100%;
}

.jss66 {
    top: calc(50% - 70px);
    height: 100px;
    position: absolute;
    background-color: transparent;
}
.jss62 {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
* {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
* {
    --tw-shadow: 0 0 transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
<style>
.jss65 {
    color: #494949;
}
.jss63 {
    color: #afafaf;
    cursor: pointer;
    padding: 0;
    transition: 200ms;
}
.MuiIconButton-sizeSmall {
    padding: 3px;
    font-size: 1.125rem;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
user agent stylesheet
button {
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.jss62 {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.jss61 {
    overflow: hidden;
    position: relative;
}
.space-y-4>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
}
.flex {
    display: -webkit-flex;
    display: flex;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.items-stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flex-col {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex {
    display: -webkit-flex;
    display: flex;
}
.bg-transparent {
    background-color: transparent;
}
.max-w-lg {
    max-width: 32rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

a.btn02 {
    display: inline-block;
    padding: 0 7px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #386641;
    background: #386641;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}
a:link, a:visited {

    text-decoration: none;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#sit_use_wbtn {
    margin: 0 0 5px;
    text-align: right;
}