#btnFoldWrap {
	cursor:pointer;
	position:absolute;
	right:0px;
	top:-1px;
	z-index:1
}

#wrap {
    display: none;
    border: 1px solid;
    width: 500px;
    height: 300px;
    float: none;
    left: 4%;
        }