
<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">

<title>못난이들</title>
<link rel="stylesheet" href="http://dmshop.kr/theme/moon/css/default_shop.css?ver=12928">
<link rel="stylesheet" href="http://dmshop.kr/theme/moon/skin/shop/basic/style.css?ver=12928">
<link rel="stylesheet" href="http://dmshop.kr/theme/moon/js/owl.carousel.css?ver=12928">
<link rel="stylesheet" href="../../resources/css/reviews.css">
<script>
// 자바스크립트에서 사용하는 전역변수 선언
var g5_url       = "http://dmshop.kr";
var g5_bbs_url   = "http://dmshop.kr/bbs";
var g5_is_member = "1";
var g5_is_admin  = "";
var g5_is_mobile = "";
var g5_bo_table  = "";
var g5_sca       = "";
var g5_editor    = "";
var g5_cookie_domain = "";
var g5_shop_url = "http://dmshop.kr/shop";
var g5_theme_shop_url = "http://dmshop.kr/theme/moon/shop";
</script>
<!--<script src="http://dmshop.kr/js/jquery-1.8.3.min.js"></script>-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://dmshop.kr/js/bootstrap.js"></script>
<script src="http://dmshop.kr/js/jquery.shop.menu.js?ver=11321"></script>
<script src="http://dmshop.kr/js/common.js?ver=11321"></script>
<script src="http://dmshop.kr/js/icecream.js?ver=11321"></script>
<script src="http://dmshop.kr/js/wrest.js?ver=11321"></script>
	<script src="http://dmshop.kr/theme/moon/js/jquery.flexslider-min.js"></script>
<link href="http://dmshop.kr/theme/moon/js/flexslider.css" rel="stylesheet">
	
	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="http://dmshop.kr/theme/moon/js/owl.carousel.min.js"></script>

<script>
// 자바스크립트에서 사용하는 전역변수 선언
var g5_url       = "http://dmshop.kr";
var g5_bbs_url   = "http://dmshop.kr/bbs";
var g5_is_member = "1";
var g5_is_admin  = "";
var g5_is_mobile = "";
var g5_bo_table  = "";
var g5_sca       = "";
var g5_editor    = "";
var g5_cookie_domain = "";
var g5_shop_url = "http://dmshop.kr/shop";
var g5_theme_shop_url = "http://dmshop.kr/theme/moon/shop";
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://dmshop.kr/js/bootstrap.js"></script>
<script src="http://dmshop.kr/js/jquery.shop.menu.js?ver=11321"></script>
<script src="http://dmshop.kr/js/common.js?ver=11321"></script>
<script src="http://dmshop.kr/js/icecream.js?ver=11321"></script>
<script src="http://dmshop.kr/js/wrest.js?ver=11321"></script>
	<script src="http://dmshop.kr/theme/moon/js/jquery.flexslider-min.js"></script>
<link href="http://dmshop.kr/theme/moon/js/flexslider.css" rel="stylesheet">
<link rel="stylesheet" href="../../resources/css/reviews.css">
	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="http://dmshop.kr/theme/moon/js/owl.carousel.min.js"></script>
</head>
	<div class="max-w-lg mx-auto">
			<div class="space-y-2">
				<div class="flex justify-between">
				<div class="flex space-x-2">
					<div class="flex items-center space-x-1">
						</div>
						</div>
						<div class="space-y-2">
							<p class="font-bold">한**</p>
							<p class="font-semibold text-gray-700">0000.00.00</p>
							<p class="font-semibold text-gray-700">조회수 : 1</p>
							<div class="flex">
								<div class="jss61 ">
									<div class="CarouselItem">
										<div style="transform: none; transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;">
											<img class="rounded" src="../../resources/img/review/1.jpeg" alt="" style="width: 100%; height: auto;">
											</div>
										
											</div>
										</div>
									</div>
							<p class="text-sm">
								review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1
								review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1
								review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1
								review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1
								review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1
								review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1 review test 1
							</p>
							</div>
						</div>
							</div>

							<div id="sit_use_wbtn">
								<a href="./reviewModify.html" class="btn02 itemuse_form">후기 수정/삭제<span class="sound_only"> 새 창</span></a>
							</div>
							
						</div>
						<script>
							$(function(){
								$(".itemuse_form").click(function(){
									window.open(this.href, "itemuse_form", "width=810,height=680,scrollbars=1");
									return false;
								});
							
								$(".itemuse_delete").click(function(){
									if (confirm("정말 삭제 하시겠습니까?\n\n삭제후에는 되돌릴수 없습니다.")) {
										return true;
									} else {
										return false;
									}
								});
							
								$(".sit_use_li_title").click(function(){
									var $con = $(this).siblings(".sit_use_con");
									if($con.is(":visible")) {
										$con.slideUp();
									} else {
										$(".sit_use_con:visible").hide();
										$con.slideDown(
											function() {
												// 이미지 리사이즈
												$con.viewimageresize2();
											}
										);
									}
								});
							
								$(".pg_page").click(function(){
									$("#itemuse").load($(this).attr("href"));
									return false;
								});
							});
							</script>
										</body>
					</html>